* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Brush Script MT",cursive;
  font-size: 30px;
  line-height: 1.5;
  color: brown; /* Body font color */
  background-color:sienna; /*Background color*/
    background-image: url(cupcake_background.jpg);
  background-repeat: no-repeat; /*Continous Background*/
  background-position: center;  /* Centered Background*/
      background-attachment: fixed; /* Fixed*/
      background-size: 1100px 800px; 
   }
   .nav li {

      display: inline;
   }

.nav a {
  color: #1e6bb8;
  text-decoration: none;
  font-size: 1.4rem; }
 .nav a:link
  {
    display: inline;
      padding: 5px;
      width: 100px;
      color: brown;
      background-color: white;
      border-right:2px solid white;
  }

    .nav a:hover{
      background-color: sandybrown;
     
    }
   
@media screen and (min-width: 64em) {
  .nav {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .nav {
    padding: 0.6rem 0.9rem;
    font-size: 1.2rem; } }

@media screen and (max-width: 42em) {
  .nav {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 1.2rem; }
    .nav + .nav {
      margin-top: 1rem;
      margin-left: 0; } }


.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; }

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 3.00rem; } }

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 3.00rem; } }


  .image1
  { /* Image settings*/
          margin: 2px;
          padding: 5px;
        }
    .image1 {
          display: inline;
         height: 220px;
          width: 200px;
          margin: 10px;
          border: 1px solid lightsalmon;
          position: absolute;
          right: 40px;
          top: 100px;        
        }
        a:hover img{
          border : 5px solid black;
        }

        @media screen and (min-width: 64em) {
  .image1 {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .image1 {
    height: 170px;
    width: 150px;
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .image1 {
    height: 170px;
    width: 150px;
    font-size: 1rem; } 
  }
.image2
  { /* Image settings*/
          margin: 2px;
          padding: 5px;
          display: inline;
         height: 220px;
          width: 200px;
          margin: 10px;
          border: 1px solid lightsalmon;
          position: absolute;
          right:100px;
          top:300px;     
        }
       
 @media screen and (min-width: 64em) {
  .image2 {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .image2 {
    height: 170px;
    width: 150px;
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .image2 {
    height: 170px;
    width: 150px;
    font-size: 1rem; } 
  }

.image3
  { /* Image settings*/
          margin: 2px;
          padding: 5px;
        }
    .image3 {
          display: inline;
         height: 220px;
          width: 200px;
          margin: 10px;
          border: 1px solid lightsalmon;
          position: absolute;
          right: 250px;
          top: 100px;      
        }

   @media screen and (min-width: 64em) {
  .image3 {
    font-size: 1.25rem; 
    right: 250px;
    } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .image3 {
    height: 170px;
    width: 150px;
    right: 250px;
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .image3 {
    height: 170px;
    width: 150px;
    right: 250px;
    font-size: 1rem; } 
  }

   .text{  /*Content settings*/
      position: relative;
      font-size: 24px;
      
    }

    

     #searchbar input { /* Search bar settings*/
      width: 200px;
      margin: 50px auto;
     
      top: 100px;
    }

     #googleMap{ /* Google maps settings*/
      height: 270px;
    width: 250px;
    right: 50px;
    top: 1100px;
      position: absolute;
    }
@media screen and (min-width: 64em) {
  .#googleMap {
    font-size: 1.25rem; 
    height: 170px;
    width: 150px;
    right: 50px;
    } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  #googleMap {
    height: 200px;
    width: 200px;
    right: 50px;
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  #googleMap {
    height: 200px;
    width: 200px;
    right: 50px;
    font-size: 1rem; } 
  }
#button1{ /* Button settings*/
      position: relative;
      bottom:800px;
      margin-top: 1em;
      left: 700px;
      margin-bottom: 0.1rem;
      border-radius: 4px;
      border:none;
      color:black;
      text-align: center;
      font-size: 20px;
      padding: 20px;
      width: 250px;
      cursor: pointer;
      margin: 5px;
    }
    #button1 span{
      cursor: pointer;
      display: inline-block;
      position: relative;
    }
    #button1 span:after{
      content: '>>';
      position: absolute;
      opacity: 0;
      top: 0;
     
    }

    #button1:hover span {
      padding-right: 25px;
    }

    #button1:hover span:after {
      opacity: 1;
      right: 0;
    }

    #button2{ /* Button settings*/
      position: relative;
      bottom:700px;
      margin-top: 1em;
      left: 550px;
      margin-bottom: 0.1rem;
      border-radius: 4px;
      border:none;
      color:black;
      text-align: center;
      font-size: 20px;
      padding: 20px;
      width: 250px;
      cursor: pointer;
      margin: 5px;
    }
    #button2 span{
      cursor: pointer;
      display: inline-block;
      position: relative;
    }
    #button2 span:after{
      content: '>>';
      position: absolute;
      opacity: 0;
      top: 0;
     
    }

    #button2:hover span {
      padding-right: 25px;
    }

    #button2:hover span:after {
      opacity: 1;
      right: 0;
    }


    #button3{ /* Button settings*/
      position: relative;
      bottom:600px;
      margin-top: 1em;
      left: 400px;
      margin-bottom: 0.1rem;
      border-radius: 4px;
      border:none;
      color:black;
      text-align: center;
      font-size: 20px;
      padding: 20px;
     width: 250px;
      cursor: pointer;
      margin: 5px;
    }
    #button3 span{
      cursor: pointer;
      display: inline-block;
      position: relative;
    }
    #button3 span:after{
      content: '>>';
      position: absolute;
      opacity: 0;
      top: 0;
     
    }

    #button3:hover span {
      padding-right: 25px;
    }

    #button3:hover span:after {
      opacity: 1;
      right: 0;
    }




@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; } }




.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }
